.contactName {
  width: 559px;
  height: 95px;
}
.contactName h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #384047;
  padding: 29px 394px 3px 24px;
  margin: 0;
}
.contactName h5 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #aab4bd;
  padding: 0 335px 20px 24px;
  margin: 0;
}
