.aboutContact {
  width: 230px;
  height: 515px;
  margin-left: 38px;
  margin-top: 32px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
}
.onContact img {
  width: 200px;
  height: 260px;
  margin-top: 15px;
  /* text-align: center; */
}
.createEvent {
  width: 200px;
  height: 36px;
  color: #1d9bf0;
  border: 1px solid #1d9bf0;
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 16px;
  background: #ffffff;
  cursor: pointer;
}
.common {
  width: 200px;
  height: 56px;
  margin-top: 24px;
}
.common h5 {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #384047;
  margin-top: 0;
  margin-bottom: 6px;
}
.common img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin-right: 3px;
  cursor: pointer;
}
.tags {
  width: 200px;
  height: 53px;
  padding-left: 0;
  margin-top: 22px;
}
.iconTag {
  display: flex;
  color: #aab4bd;

  /* margin-top: 22px; */
  margin-bottom: 0;
  /* padding-bottom: 0; */
}
.iconTag h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.tagsButton {
  margin-top: 7px;
}
.tagsButton button {
  background: #e6f7ff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #384047;
  margin-right: 10px;
  cursor: pointer;
  height: 26px;
}
