.points_select {
  width: 166px;
  height: 160px;
  background: #001429;
  border-radius: 5px;
  position: absolute;
  top: 140px;
  left: 1060px;
  z-index: 5000;
  padding-top: 15px;
  /* display: flex;
  align-items: center; */
}
.point {
  display: flex;
  margin-bottom: 20px;
}
.point img {
  margin-left: 22px;
  margin-right: 17px;
  cursor: pointer;
}
.point_text {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #f9f9f9;
  cursor: pointer;
}
